@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background: #FFECB1;
    font: 100%/1.5 Raleway, sans-serif;
    color: #333;
    cursor: default;
}

/* Throbber */

#throbber {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -20px;
}

#throbber p {
    margin-top: 1em;
    font-size: 1.2em;
    text-align: center;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #A26E68;
    float: left;
    animation: sk-cubeGridScaleDelay 1.5s infinite;
}

.sk-cube-grid .sk-cube1 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 { animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 { animation-delay: 0s; }
.sk-cube-grid .sk-cube8 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 { animation-delay: 0.2s; }

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% { transform: scale(1); }
    35% { transform: scale(0.1); }
}

/* SudokuGrid */

#sudoku-grid {
        display: table;
        margin: 2em auto;
        padding: 5px;
        border: 1em solid #A26E68;
    }
    #sudoku-grid ol {
        list-style: none;
        overflow: hidden;
        border-bottom: 2px solid #FFECB1;
    }
    #sudoku-grid ol:last-child {
        border-bottom: 0;
    }
    #sudoku-grid ol:nth-child(3), #sudoku-grid ol:nth-child(6) {
        border-bottom: 5px solid #FFECB1;
    }
    #sudoku-grid ol > li {
        display: block;
        float: left;
        border-right: 2px solid #FFECB1;
    }
    #sudoku-grid ol > li:last-child {
        border-right: 0;
    }
    #sudoku-grid ol > li:nth-child(3), #sudoku-grid ol > li:nth-child(6) {
        border-right: 5px solid #FFECB1;
    }
    #sudoku-grid ol > li {
        background: #FFC09C;
        position: relative;
        width: 3.4em;
        height: 3.4em;
        cursor: pointer;
        transition: background .2s;
    }
    #sudoku-grid ol > li:hover {
        background: #FF9386;
    }
    #sudoku-grid ol > li .number, #sudoku-grid ol > li .markup {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #sudoku-grid ol > li .number {
        font-size: 2em;
        line-height: 1.7;
        text-align: center;
    }
    #sudoku-grid ol > li.solid {
        background: #FFECB1;
        cursor: default;
    }
    #sudoku-grid ol > li.solid .number {
        font-weight: bold;
        color: #4B464A;
    }
    #sudoku-grid ol > li.highlight {
        background: #FF9386;
    }
    #sudoku-grid ol > li.contradiction {
        background: #E3423E;
        color: #FFECB1;
    }
    #sudoku-grid ol > li .markup {
        list-style: none;
        overflow: hidden;
    }
    #sudoku-grid ol > li .markup li {
        display: table-cell;
        vertical-align: middle;
        width: 33.33%;
        height: 33.33%;
        float: left;
        font-size: .8em;
        text-align: center;
    }
    #sudoku-grid ol > li .markup li.excluded {
        visibility: hidden;
    }
