@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background: #FFECB1;
    font: 500 100%/1.5 Raleway, sans-serif;
    color: #333;
    cursor: default;
}

/* Throbber */

#throbber {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -50px;
}

#throbber .progress {
        position: relative;
        height: 5px;
        width: 200px;
        margin: 2em auto 1em;
        background: #FFC09C;
    }
    #throbber .progress .bar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: #A26E68;
        transition: width .2s;
}

#throbber p {
    font-size: 1.2em;
    text-align: center;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #A26E68;
    float: left;
    animation: sk-cubeGridScaleDelay 1.5s infinite;
}

.sk-cube-grid .sk-cube1 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 { animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 { animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 { animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 { animation-delay: 0s; }
.sk-cube-grid .sk-cube8 { animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 { animation-delay: 0.2s; }

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% { transform: scale(1); }
    35% { transform: scale(0.1); }
}

/* SudokuGrid */

#sudoku-grid {
        display: table;
        margin: 2em auto;
        padding: 5px;
        border: 1em solid #A26E68;
    }
    #sudoku-grid ol {
        list-style: none;
        overflow: hidden;
        border-bottom: 2px solid #FFECB1;
    }
    #sudoku-grid ol:last-child {
        border-bottom: 0;
    }
    #sudoku-grid ol:nth-child(3), #sudoku-grid ol:nth-child(6) {
        border-bottom: 5px solid #FFECB1;
    }
    #sudoku-grid ol > li {
        display: block;
        float: left;
        border-right: 2px solid #FFECB1;
    }
    #sudoku-grid ol > li:last-child {
        border-right: 0;
    }
    #sudoku-grid ol > li:nth-child(3), #sudoku-grid ol > li:nth-child(6) {
        border-right: 5px solid #FFECB1;
    }
    #sudoku-grid ol > li {
        background: #FFC09C;
        position: relative;
        width: 3.4em;
        height: 3.4em;
        cursor: pointer;
        transition: background .2s;
    }
    #sudoku-grid ol > li:hover {
        background: #FF9386;
    }
    #sudoku-grid ol > li .number, #sudoku-grid ol > li .markup {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #sudoku-grid ol > li .number {
        font-size: 2em;
        line-height: 1.7;
        text-align: center;
    }
    #sudoku-grid ol > li.solid {
        background: #FFECB1;
        cursor: default;
    }
    #sudoku-grid ol > li.solid .number {
        font-weight: bold;
        color: #4B464A;
    }
    #sudoku-grid ol > li.highlight {
        background: #FF9386;
    }
    #sudoku-grid ol > li.contradiction {
        background: #E3423E;
        color: #FFECB1;
}

#sudoku-grid ol > li .markup {
        list-style: none;
        overflow: hidden;
    }
    #sudoku-grid ol > li .markup li {
        width: 33.33%;
        height: 33.33%;
        float: left;
        font-size: .8em;
        text-align: center;
    }
    #sudoku-grid ol > li .markup li.excluded {
        visibility: hidden;
}

/* CellEditor */

#cell-editor {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity .2s;
        pointer-events: none;
    }
    #cell-editor.show {
        opacity: 1;
        pointer-events: inherit;
}

#cell-editor .inner {
        position: absolute;
        width: 6em;
        height: 6em;
        margin-top: -3em;
        margin-left: -3em;
        border: 5px solid #4B464A;
        background: #4B464A;
        color: white;
        opacity: .95;
        overflow: hidden;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
        transform: scale(0.6);
        transition: transform .2s;
    }
    #cell-editor.show .inner {
        transform: scale(1);
    }
    #cell-editor .inner ul {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        list-style: none;
        overflow: hidden;
    }
    #cell-editor .inner li {
        position: relative;
        float: left;
        width: 33.33%;
        height: 33.33%;
        line-height: 2;
        text-align: center;
        cursor: pointer;
        transition: background .2s, color .2s;
    }
    #cell-editor .inner li::before {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 1px);
        left: 15%;
        width: 70%;
        height: 2px;
        background: #6D686C;
        opacity: 0;
        transition: background .2s, opacity .2s;
        transform: rotate(-40deg);
        pointer-events: none;
    }
    #cell-editor .inner li:hover {
        background: #6D686C;
    }
    #cell-editor .inner li.excluded {
        color: #6D686C;
    }
    #cell-editor .inner li.excluded::before {
        opacity: 1;
    }
    #cell-editor .inner li.excluded:hover {
        color: #8F8A8E;
    }
    #cell-editor .inner li.excluded:hover::before {
        background: #8F8A8E;
}
